body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .main {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 500px;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #17a2b8;
  }
  button {
    background-color: #17a2b8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: #138496;
    transition: all 0.5s;
  }
  
  /* @media (max-width: 768px) {
    .main {
      width: 90%;
      height: 95%;
      display: flex;
      border-radius: 0px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  } */